# Java build output
target/
*.class
*.jar
*.war
*.ear
*.nar

# Maven
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environments
.env
.venv

# App logs
.logs/

# Containers data
data/

# IDEs files
.vscode/
.idea/
